<% if (title) { %>
 <h1><%= title %></h1>
<% } else { 
  res.redirect('/')  
} %>

<%- messages() %>

<form action="/account/register" method="post">
    <label>First Name: <input type="text" name="account_firstname" required></label>
    <label>Last Name: <input type="text" name="account_lastname" required></label>
    <label>Email: <input type="email" name="account_email" required></label>
    <label>Password: <input type="password" name="account_password" required></label>
    <details class="input-requirements" open>
        <summary>Password Must Contain the Following:</summary>
        <ul>
            <li><strong>12 characters</strong>, minimum</li>
            <li>at least <strong>1 capital letter</strong></li>
            <li>at least <strong>1 number</strong></li>
            <li>at least <strong>1 special character</strong></li>
        </ul>
    </details>
    <button type="submit">Register</button>
</form>