:root {
  --serif-font: "Faustina", serif;
  --sans-serif-font: "Roboto", serif;
  --primary-color: #000;
  --secondary-color: #4C96D7;
  --accent-color-1: #fff;
  --accent-color-2: #9bc5e9;
  --transparent-accent-color: #ffffffaa;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--sans-serif-font);
}

h1, h2, h3, h4 {
  font-family: var(--serif-font);
}

/* p, li {
  font-size: 14px;
} */

li {
  line-height: 2;
}

a {
  text-decoration: none;
}

#wrapper {
  padding: 0.5rem;
  background-color: var(--accent-color-1);
}

#top-header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

#top-header a {
  color: var(--primary-color);
  font-weight: bold;
}

.siteName {
  font-size: xx-large;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
}

nav li {
  list-style-type: none;
}

nav a {
  color: var(--accent-color-1);
}

#hero {
  position: relative;
}

#hero-img {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
}

#spotlight {
  position: absolute;
  left: 0.5rem;
  bottom: 10%;
  background-color: var(--transparent-accent-color);
  max-width: 40%;
  height: 60%;
  min-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#spotlight * {
  max-width: 100%;
  margin: auto 0;
  color: var(--secondary-color);
}

#own-today{
  width: 100px;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

#upgrades .upg-item {
  display: grid;
  grid-template-rows: 100px 35px;
  margin: 0;
  width: inherit;
  text-align: center;
  justify-items: center;
}

#upgrades .upg-img {
  width: 100%;
  height: 85px;
  background-color: var(--secondary-color);
  border: var(--primary-color) 2px solid;
}

#upgrades img {
  margin-top: 5px;
}
/* 
#upgrades a {
  padding: .5rem;
  height: min-content;
} */

/* || DETAILS || */

#vehicle-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-color);
}

#vehicle-details > img {
  max-width: 100%;
  height: auto;
  border: var(--primary-color) 8px solid;
}

#vehicle-details > article {
  background-color: var(--accent-color-2);
  padding: 1rem;
  border: var(--primary-color) 8px solid;
}

#vehicle-details h3 {
  color: #035000;
}

#vehicle-details ul {
  list-style-type: none;
  padding: 0;
}

form {
  background-color: var(--secondary-color);
  border: var(--accent-color-2) solid 3px;
  border-radius: 10px;
  padding: 1em 2em;
  margin: 1em auto;
  place-items: center;
  max-width: 500px;

  label {
    font-weight: bold;
    font-size: larger;
  }

  i {
    display: block;
    place-self: start;
    margin: .5em;
  }

  input, select, textarea, button {
    display: block;
    margin: .5em 0;
    border-radius: 4px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;

    &:valid {
      border-left: #035000 3px inset;
    }

    &:invalid {
      border-left: #f00 3px inset;
    }
  }

  select {
    width: max-content;
    padding: 8px;

    &:invalid {
      border-left: #f00 3px inset;
    }
  }

  textarea {
    height: 80px;
  }

  button {
    padding: 5px 10px;
    border: var(--primary-color) solid 1px;
    border-radius: 50ch;
    font-weight: bold;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .input-requirements {
    place-self: start;
    color: #333;
    font-size: 90%;

    ul {
      margin: 5px;
    }

    li {
      line-height: 1.2;
      list-style-type: circle;
    }
  }


}

.notice-good {
  color: #035000;
  font-style: italic;
}

.notice-bad {
  color: #f00;
  font-style: italic;
}