:root {
  --serif-font: "Faustina", serif;
  --sans-serif-font: "Roboto", serif;
  --primary-color: #000;
  --secondary-color: #4C96D7;
  --accent-color-1: #fff;
  --transparent-accent-color: #ffffffaa;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--sans-serif-font);
}

h1, h2, h3, h4 {
  font-family: var(--serif-font);
}

/* p, li {
  font-size: 14px;
} */

li {
  line-height: 2;
}

#wrapper {
  padding: 0.5rem;
  background-color: var(--accent-color-1);
}

#top-header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

#top-header a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.siteName {
  font-size: xx-large;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
}

nav li {
  list-style-type: none;
}

#hero {
  position: relative;
}

#hero-img {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
}

#spotlight {
  position: absolute;
  left: 0.5rem;
  bottom: 10%;
  background-color: var(--transparent-accent-color);
  max-width: 40%;
  height: 60%;
  min-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#spotlight * {
  max-width: 100%;
  margin: auto 0;
  color: var(--secondary-color);
}

#own-today{
  width: 100px;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

#upgrades .upg-item {
  display: grid;
  grid-template-rows: 100px 35px;
  margin: 0;
  width: inherit;
  text-align: center;
  justify-items: center;
}

#upgrades .upg-img {
  width: 100%;
  height: 85px;
  background-color: var(--secondary-color);
  border: var(--primary-color) 2px solid;
}

#upgrades img {
  margin-top: 5px;
}
/* 
#upgrades a {
  padding: .5rem;
  height: min-content;
} */